---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Hanan's Blog"
      href="/feed.xml"
    />

    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      (function() {
        if (typeof Storage !== 'undefined') {
          const isDarkMode = localStorage.getItem('dark_mode') === 'true' || 
            (!localStorage.getItem('dark_mode') && window.matchMedia('(prefers-color-scheme: dark)').matches);
          if (isDarkMode) {
            document.documentElement.classList.add('dark');
          }
        }
      })();
    </script>

    <style>
      .prose {
        max-width: none;
      }
      .prose img {
        border-radius: 20px;
        margin: 0 auto;
      }
      .prose iframe {
        margin: 0 auto;
      }
      .prose a {
        text-decoration: none;
      }
      .prose a:hover {
        text-decoration: underline;
      }
      .prose ul {
        list-style-type: disc;
        padding-left: 1.5em;
      }
      .prose p {
        margin-bottom: 1.5em;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
